# Python
__pycache__/
*.pyc
.venv/
venv/
.env
.env.local
backend/.env
frontend/.env
frontend/.env.local

# Node
node_modules/
.next/
out/
dist/

# Database
*.db
*.sqlite
*.sqlite3
backend/data/dictionary/jmdict_full.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

backend/data/dictionary/jmdict_full.json
backend/data/dictionary/raw_jmdict.json
backend/data/dictionary/*.gz
backend/data/dictionary/*.zip
backend/data/dictionary/*.tar.gz